In [1]:
# Importing and reading the data to store in a dataframe
import pandas as pd
data = pd.read_excel("/Users/rohityadav/Desktop/Assignments/Sem 3/Database Design and Prototyping/Project/Dataset/xlsx Files/DataCoSupplyChainDataset.xlsx")
data.head(5)

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [2]:
# Checking available columns
data.columns.to_list()

['Type',
 'Days for shipping (real)',
 'Days for shipment (scheduled)',
 'Benefit per order',
 'Sales per customer',
 'Delivery Status',
 'Late_delivery_risk',
 'Category Id',
 'Category Name',
 'Customer City',
 'Customer Country',
 'Customer Email',
 'Customer Fname',
 'Customer Id',
 'Customer Lname',
 'Customer Password',
 'Customer Segment',
 'Customer State',
 'Customer Street',
 'Customer Zipcode',
 'Department Id',
 'Department Name',
 'Latitude',
 'Longitude',
 'Market',
 'Order City',
 'Order Country',
 'Order Customer Id',
 'order date (DateOrders)',
 'Order Id',
 'Order Item Cardprod Id',
 'Order Item Discount',
 'Order Item Discount Rate',
 'Order Item Id',
 'Order Item Product Price',
 'Order Item Profit Ratio',
 'Order Item Quantity',
 'Sales',
 'Order Item Total',
 'Order Profit Per Order',
 'Order Region',
 'Order State',
 'Order Status',
 'Order Zipcode',
 'Product Card Id',
 'Product Category Id',
 'Product Description',
 'Product Image',
 'Product Name',
 'Product Price',
 'Product Status',
 'shipping date (DateOrders)',
 'Shipping Mode']

In [3]:
# Departments

# Segregating required Columns
dept_cols = ["Department Id", "Department Name"]
Departments = data[dept_cols].copy()

# Dropping the null/na Department IDs
Departments = Departments.dropna(subset = ["Department Id"])

# Dropping Duplicates (same name + same ID)
Departments = Departments.drop_duplicates()

# Clean types and rename columns to match my physical data model
Departments = Departments.rename(columns = {"Department Id": "departmentID", "Department Name": "department_name"})
Departments["departmentID"] = Departments["departmentID"].astype(int)

# Save Departments to csv file rady for import wizard
Departments.to_csv("/Users/rohityadav/Desktop/Assignments/Sem 3/Database Design and Prototyping/Project/Dataset/csv Files/Departments.csv", index = False)

In [4]:
# Sanity Check 1
Departments.shape

(11, 2)

In [5]:
# Sanity Check 2
Departments.head(5)

    departmentID department_name
0              2         Fitness
48             4         Apparel
49             5            Golf
55             3        Footwear
61             6        Outdoors

In [6]:
# New csv column list
Departments.columns.to_list()

['departmentID', 'department_name']

In [7]:
# Categories

# Segregating required Columns
catg_cols = ['Category Id', 'Category Name', 'Department Id']
Categories = data[catg_cols].copy()

# Dropping the null/na Category IDs
Categories = Categories.dropna(subset = ["Category Id"])

# Dropping Duplicates (same name + same ID)
Categories = Categories.drop_duplicates()

# Clean types and rename columns to match my physical data model
Categories = Categories.rename(columns = {
    "Category Id": "categoryID",
    "Category Name": "category_name",
    "Department Id": "departmentID"
    })

Categories["categoryID"] = Categories["categoryID"].astype(int)
Departments["departmentID"] = Departments["departmentID"].astype(int)

# Save Categories to csv file rady for import wizard
Categories.to_csv("/Users/rohityadav/Desktop/Assignments/Sem 3/Database Design and Prototyping/Project/Dataset/csv Files/Categories.csv", index = False)

In [8]:
# Sanity Check 1
Categories.shape

(51, 3)

In [9]:
# Sanity Check 2
Categories.head(5)

    categoryID    category_name  departmentID
0           73   Sporting Goods             2
48          17           Cleats             4
49          29    Shop By Sport             5
50          24  Women's Apparel             5
55          13      Electronics             3

In [10]:
# New csv column list
Categories.columns.to_list()

['categoryID', 'category_name', 'departmentID']

In [11]:
# Products

# Segregating the required columns
prod_cols = ['Product Card Id', 'Product Category Id', 'Product Name', 'Product Price', 'Product Status', 'Product Description', 'Category Id']
Products = data[prod_cols].copy()

# Drop rows with missing Product Category Id and Product Card IDs
Products = Products.dropna(subset = ['Product Card Id', 'Product Category Id', 'Product Name', 'Product Price', 'Category Id'])

# Remove Duplicates
Products = Products.drop_duplicates()

# Convert IDs to string to CONCAT
Products["Product Card Id"] = Products["Product Card Id"].astype(str)
Products["Product Category Id"] = Products["Product Category Id"].astype(str)
Products["productID"] = Products["Product Card Id"] + Products["Product Category Id"]

# Convert the newly created ID to int
Products["productID"] = Products["productID"].astype(int)

# Drop the original ID columns
Products = Products.drop(columns = ['Product Card Id', 'Product Category Id'])

# Assign proper datatype to each column
Products["Product Price"] = Products["Product Price"].astype(float)
Products["Product Status"] = Products["Product Status"].astype(str)
Products["Product Description"] = Products["Product Description"].astype(str)
Products["Category Id"] = Products["Category Id"].astype(int)
Products["Product Name"] = Products["Product Name"].astype(str)

# Rename the columns as per the physical model
Products = Products.rename( columns = {
    'Product Name' : 'product_name',
    'Product Price': 'product_price',
    'Product Status': 'product_status',
    'Product Description': 'product_description',
    'Category Id': 'categoryID'
  })

# Reorder the columns
Products = Products[[
    "productID",
    "product_name",
    "product_price",
    "product_status",
    "product_description",
    "categoryID"
  ]]

# Save Products to csv file rady for import wizard
Products.to_csv("/Users/rohityadav/Desktop/Assignments/Sem 3/Database Design and Prototyping/Project/Dataset/csv Files/Products.csv", index = False)

In [12]:
# Sanity Check 1
Products.shape

(118, 6)

In [13]:
# Sanity Check 2
Products.head(5)

,productID,product_name,product_price,product_status,product_description,categoryID
0,136073,Smart watch,327.750000,0,nan,73
48,36517,Perfect Fitness Perfect Rip Deck,59.990002,0,nan,17
49,62729,Under Armour Girls' Toddler Spine Surge Runni,39.990002,0,nan,29
50,50224,Nike Men's Dri-FIT Victory Golf Polo,50.000000,0,nan,24
55,27813,Under Armour Men's Compression EV SL Slide,44.990002,0,nan,13

In [14]:
# New csv column list
Products.columns.to_list()

['productID',
 'product_name',
 'product_price',
 'product_status',
 'product_description',
 'categoryID']

In [15]:
# Customers

# Segregating the required columns
cust_cols = [
    'Customer City',
    'Customer Country',
    'Customer Email',
    'Customer Fname',
    'Customer Id',
    'Customer Lname',
    'Customer State',
    'Customer Zipcode',
    'Market'
  ]

Customers = data[cust_cols].copy()

# Drop rows with missing null/na values from a few columns
Customers = Customers.dropna(subset=['Customer Id', 'Customer Fname', 'Customer Email', 'Customer Country', 'Customer Zipcode'])

# Drop duplicates
Customers = Customers.drop_duplicates()

# Assign proper datatype to each column
Customers['Customer Id'] = Customers['Customer Id'].astype(int)
Customers['Customer Fname'] = Customers['Customer Fname'].astype(str)
Customers['Customer Lname'] = Customers['Customer Lname'].astype(str)
Customers['Customer Email'] = Customers['Customer Email'].astype(str)
Customers['Customer City'] = Customers['Customer City'].astype(str)
Customers['Customer State'] = Customers['Customer State'].astype(str)
Customers['Customer Country'] = Customers['Customer Country'].astype(str)
Customers['Customer Zipcode'] = Customers['Customer Zipcode'].astype(str)
Customers['Market'] = Customers['Market'].astype(str)

# Rename the columns as per the physical model
Customers = Customers.rename( columns = {
    'Customer City': 'customer_city',
    'Customer Country': 'customer_country',
    'Customer Email': 'customer_email',
    'Customer Fname': 'customer_fname',
    'Customer Id': 'customerID',
    'Customer Lname': 'customer_lname',
    'Customer State': 'customer_state',
    'Customer Zipcode': 'customer_zip',
    'Market': 'market'
  })

# Add region as a column
Customers['region'] = None

# Reorder the columns
Customers = Customers[[
    'customerID',
    'customer_fname',
    'customer_lname',
    'customer_email',
    'customer_city',
    'customer_state',
    'customer_country',
    'customer_zip',
    'market',
    'region'
]]

# Save Customers to csv file rady for import wizard
Customers.to_csv('/Users/rohityadav/Desktop/Assignments/Sem 3/Database Design and Prototyping/Project/Dataset/csv Files/Customers.csv', index = False)

In [16]:
# Sanity Check 1
Customers.shape

(43813, 10)

In [17]:
# Sanity Check 2
Customers.head(5)

,customerID,customer_fname,customer_lname,customer_email,customer_city,customer_state,customer_country,customer_zip,market,region
0,20755,Cally,Holloway,XXXXXXXXX,Caguas,PR,Puerto Rico,725.0,Pacific Asia,None
1,19492,Irene,Luna,XXXXXXXXX,Caguas,PR,Puerto Rico,725.0,Pacific Asia,None
2,19491,Gillian,Maldonado,XXXXXXXXX,San Jose,CA,EE. UU.,95125.0,Pacific Asia,None
3,19490,Tana,Tate,XXXXXXXXX,Los Angeles,CA,EE. UU.,90027.0,Pacific Asia,None
4,19489,Orli,Hendricks,XXXXXXXXX,Caguas,PR,Puerto Rico,725.0,Pacific Asia,None

In [18]:
# New csv column list
Customers.columns.to_list()

['customerID',
 'customer_fname',
 'customer_lname',
 'customer_email',
 'customer_city',
 'customer_state',
 'customer_country',
 'customer_zip',
 'market',
 'region']

In [19]:
# Orders

# Segregating the required columns
ord_cols = [
    'Order Id',
    'order date (DateOrders)',
    'Order Status',
    'Order City',
    'Order State',
    'Order Country',
    'Order Zipcode',
    'shipping date (DateOrders)',
    'Shipping Mode',
    'Delivery Status',
    'Late_delivery_risk',
    'Days for shipping (real)',
    'Days for shipment (scheduled)',
    'Benefit per order',
    'Sales per customer',
    'Order Profit Per Order',
    'Customer Id'
]
Orders = data[ord_cols].copy()

# Dropping the null/na values from few columns
Orders = Orders.dropna(subset = ['Order Id', 'order date (DateOrders)', 'Order Status', 'Order Country', 'Order Zipcode', 'shipping date (DateOrders)',
                                 'Shipping Mode', 'Delivery Status', 'Late_delivery_risk', 'Days for shipping (real)', 'Days for shipment (scheduled)',
                                 'Benefit per order', 'Sales per customer', 'Order Profit Per Order', 'Customer Id'])

# Dropping Duplicates
Orders = Orders.drop_duplicates()

# Changing the datatype of the columns
Orders['Order Id'] = Orders['Order Id'].astype(int)
Orders['order date (DateOrders)'] = pd.to_datetime(Orders['order date (DateOrders)'])
Orders['Order Status'] = Orders['Order Status'].astype(str)
Orders['Order City'] = Orders['Order City'].astype(str)
Orders['Order State'] = Orders['Order State'].astype(str)
Orders['Order Country'] = Orders['Order Country'].astype(str)
Orders['Order Zipcode'] = Orders['Order Zipcode'].astype(str)
Orders['shipping date (DateOrders)'] = pd.to_datetime(Orders['shipping date (DateOrders)'])
Orders['Shipping Mode'] = Orders['Shipping Mode'].astype(str)
Orders['Delivery Status'] = Orders['Delivery Status'].astype(str)
Orders['Late_delivery_risk'] = Orders['Late_delivery_risk'].astype(int)
Orders['Days for shipping (real)'] = Orders['Days for shipping (real)'].astype(int)
Orders['Days for shipment (scheduled)'] = Orders['Days for shipment (scheduled)'].astype(int)
Orders['Benefit per order'] = Orders['Benefit per order'].astype(float)
Orders['Sales per customer'] = Orders['Sales per customer'].astype(float)
Orders['Order Profit Per Order'] = Orders['Order Profit Per Order'].astype(float)
Orders['Customer Id'] = Orders['Customer Id'].astype(int)


# Renaming the columns
Orders = Orders.rename(columns = {
    'Order Id': 'orderID',
    'order date (DateOrders)': 'order_date',
    'Order Status': 'order_status',
    'Order City': 'order_city',
    'Order State': 'order_state',
    'Order Country': 'order_country',
    'Order Zipcode': 'order_zip',
    'shipping date (DateOrders)': 'shipping_date',
    'Shipping Mode': 'shipping_mode',
    'Delivery Status': 'delivery_status',
    'Late_delivery_risk': 'late_delivery_risk',
    'Days for shipping (real)': 'shipping_days_real',
    'Days for shipment (scheduled)': 'shipping_days_scheduled',
    'Benefit per order': 'benefit_per_order',
    'Sales per customer': 'sales_per_customer',
    'Order Profit Per Order': 'order_profit_per_order',
    'Customer Id': 'customerID'
})

# Save Orders to csv file rady for import wizard
Orders.to_csv('/Users/rohityadav/Desktop/Assignments/Sem 3/Database Design and Prototyping/Project/Dataset/csv Files/Orders_FA.csv', index = False)

In [20]:
# Sanity Check 1
Orders.shape

(24840, 17)

In [21]:
# Sanity Check 2
Orders.head(5)

,orderID,order_date,order_status,order_city,order_state,order_country,order_zip,shipping_date,shipping_mode,delivery_status,late_delivery_risk,shipping_days_real,shipping_days_scheduled,benefit_per_order,sales_per_customer,order_profit_per_order,customerID
55,36146,2016-06-11 15:12:00,PENDING_PAYMENT,Pasco,Washington,Estados Unidos,99301.0,2016-06-13 15:12:00,Second Class,Shipping on time,0,2,2,22.41,74.680000,22.41,3296
56,41234,2016-08-24 21:45:00,PENDING_PAYMENT,Los Angeles,California,Estados Unidos,90049.0,2016-08-29 21:45:00,Second Class,Late delivery,1,5,2,25.24,90.150002,25.24,3182
57,32090,2016-04-13 10:12:00,PENDING_PAYMENT,San Francisco,California,Estados Unidos,94110.0,2016-04-19 10:12:00,Second Class,Late delivery,1,6,2,30.57,117.580002,30.57,7864
58,34773,2016-05-22 14:10:00,PENDING_PAYMENT,Overland Park,Kansas,Estados Unidos,66212.0,2016-05-26 14:10:00,Second Class,Late delivery,1,4,2,46.07,95.980003,46.07,11169
183,33824,2016-05-08 17:42:00,SUSPECTED_FRAUD,Houston,Texas,Estados Unidos,77041.0,2016-05-13 17:42:00,Standard Class,Shipping canceled,0,5,4,28.85,128.220001,28.85,1509

In [22]:
# New csv column list
Orders.columns.to_list()

['orderID',
 'order_date',
 'order_status',
 'order_city',
 'order_state',
 'order_country',
 'order_zip',
 'shipping_date',
 'shipping_mode',
 'delivery_status',
 'late_delivery_risk',
 'shipping_days_real',
 'shipping_days_scheduled',
 'benefit_per_order',
 'sales_per_customer',
 'order_profit_per_order',
 'customerID']

In [23]:
# Order_Items

# Segregating the required columns
ord_item_cols = [
    'Order Item Id',
    'Order Item Cardprod Id',
    'Order Item Quantity',
    'Order Item Product Price',
    'Order Item Discount',
    'Order Item Discount Rate',
    'Order Item Total',
    'Sales',
    'Order Item Profit Ratio',
    'Order Id',
    'Product Card Id',
    'Product Category Id'
]
Order_Items = data[ord_item_cols].copy()

# Drop a few rows with null/na values
Order_Items = Order_Items.dropna(subset = [
    'Order Item Id',
    'Order Item Cardprod Id',
    'Order Item Quantity',
    'Order Item Product Price',
    'Order Item Total',
    'Sales',
    'Order Id',
    'Product Card Id',
    'Product Category Id'
])

# Drop duplicate rows
Order_Items = Order_Items.drop_duplicates()

# Convert IDs to string to CONCAT
Order_Items["Product Card Id"] = Order_Items["Product Card Id"].astype(str)
Order_Items["Product Category Id"] = Order_Items["Product Category Id"].astype(str)
Order_Items["productID"] = Order_Items["Product Card Id"] + Order_Items["Product Category Id"]

# Convert the newly created ID to int
Order_Items["productID"] = Order_Items["productID"].astype(int)

# Changing the datatype of the columns
Order_Items['Order Item Id'] = Order_Items['Order Item Id'].astype(int)
Order_Items['Order Item Cardprod Id'] = Order_Items['Order Item Cardprod Id'].astype(int)
Order_Items['Order Item Quantity'] = Order_Items['Order Item Quantity'].astype(int)
Order_Items['Order Item Product Price'] = Order_Items['Order Item Product Price'].astype(float)
Order_Items['Order Item Discount'] = Order_Items['Order Item Discount'].astype(float)
Order_Items['Order Item Discount Rate'] = Order_Items['Order Item Discount Rate'].astype(float)
Order_Items['Order Item Total'] = Order_Items['Order Item Total'].astype(float)
Order_Items['Sales'] = Order_Items['Sales'].astype(float)
Order_Items['Order Item Profit Ratio'] = Order_Items['Order Item Profit Ratio'].astype(float)
Order_Items['Order Id'] = Order_Items['Order Id'].astype(int)

# Renaming the columns
Order_Items = Order_Items.rename(columns = {
    'Order Item Id': 'orderItemID',
    'Order Item Cardprod Id': 'order_item_cardprod_id',
    'Order Item Quantity': 'item_quantity',
    'Order Item Product Price': 'item_product_price',
    'Order Item Discount': 'order_item_discount',
    'Order Item Discount Rate': 'order_item_discount_rate',
    'Order Item Total': 'order_item_total',
    'Sales': 'sales',
    'Order Item Profit Ratio': 'order_item_profit_ratio',
    'Product Card Id': 'product_card_id',
    'Product Category Id': 'product_category_id',
    'Order Id': 'orderID'
})

# Save Order_Items to csv file rady for import wizard
Order_Items.to_csv('/Users/rohityadav/Desktop/Assignments/Sem 3/Database Design and Prototyping/Project/Dataset/csv Files/Order_Items.csv', index = False)

In [24]:
# Sanity Check 1
Order_Items.shape

(180519, 13)

In [25]:
# Sanity Check 2
Order_Items.head(5)

,orderItemID,order_item_cardprod_id,item_quantity,item_product_price,order_item_discount,order_item_discount_rate,order_item_total,sales,order_item_profit_ratio,orderID,product_card_id,product_category_id,productID
0,180517,1360,1,327.75,13.110000,0.04,314.640015,327.75,0.29,77202,1360,73,136073
1,179254,1360,1,327.75,16.389999,0.05,311.359985,327.75,-0.80,75939,1360,73,136073
2,179253,1360,1,327.75,18.030001,0.06,309.720001,327.75,-0.80,75938,1360,73,136073
3,179252,1360,1,327.75,22.940001,0.07,304.809998,327.75,0.08,75937,1360,73,136073
4,179251,1360,1,327.75,29.500000,0.09,298.250000,327.75,0.45,75936,1360,73,136073

In [26]:
# New csv column list
Order_Items.columns.to_list()

['orderItemID',
 'order_item_cardprod_id',
 'item_quantity',
 'item_product_price',
 'order_item_discount',
 'order_item_discount_rate',
 'order_item_total',
 'sales',
 'order_item_profit_ratio',
 'orderID',
 'product_card_id',
 'product_category_id',
 'productID']

In [27]:
# Final Sanity Check
dept_unq = Departments['departmentID'].is_unique
catg_unq = Categories['categoryID'].is_unique
prdt_unq = Products['productID'].is_unique       
ords_unq = Orders['orderID'].is_unique
cust_unq = Customers['customerID'].is_unique
ords_itms_unq = Order_Items['orderItemID'].is_unique

print(
    f"dept_unq = {dept_unq}\n"
    f"catg_unq = {catg_unq}\n"
    f"prdt_unq = {prdt_unq}\n"
    f"ords_unq = {ords_unq}\n"
    f"cust_unq = {cust_unq}\n"
    f"ords_itms_unq = {ords_itms_unq}"
)

dept_unq = True
catg_unq = True
prdt_unq = True
ords_unq = False
cust_unq = False
ords_itms_unq = True

In [28]:
# Fixing the Customers table

# Sorting the values before dropping
Customers = Customers.sort_values(['customerID', 'customer_fname', 'customer_lname'])

# Drop the duplicates and just keep the first occurrence
Customers = Customers.drop_duplicates(subset = ['customerID'], keep = 'first')

# Sanity Check
cust_unq = Customers['customerID'].is_unique
print(f"cust_unq = {cust_unq}")

cust_unq = True

In [29]:
# Replacing the old Customers csv with the new Customers csv
Customers.to_csv('/Users/rohityadav/Desktop/Assignments/Sem 3/Database Design and Prototyping/Project/Dataset/csv Files/Customers.csv', index = False)

In [30]:
# Fixing the Orders table

# Create a copy to avoid modifying the original accidentally
Orders_fixed = Orders.copy()

# Aggregate dictionary: 
# - keep first for metadata 
# - sum for the financial columns
agg_dict = {
    'order_date': 'first',
    'order_status': 'first',
    'order_city': 'first',
    'order_state': 'first',
    'order_country': 'first',
    'order_zip': 'first',
    'shipping_date': 'first',
    'shipping_mode': 'first',
    'delivery_status': 'first',
    'late_delivery_risk': 'first',
    'shipping_days_real': 'first',
    'shipping_days_scheduled': 'first',
    'benefit_per_order': 'sum',
    'sales_per_customer': 'sum',
    'order_profit_per_order': 'sum',
    'customerID': 'first'
}

# Group by orderID so we get EXACTLY one row per ID
Orders_clean = Orders_fixed.groupby('orderID', as_index=False).agg(agg_dict)

# Check uniqueness
print("ords_unq =", Orders_clean['orderID'].is_unique)

# Preview
Orders_clean.head()

ords_unq = True

,orderID,order_date,order_status,order_city,order_state,order_country,order_zip,shipping_date,shipping_mode,delivery_status,late_delivery_risk,shipping_days_real,shipping_days_scheduled,benefit_per_order,sales_per_customer,order_profit_per_order,customerID
0,31297,2016-04-01 20:22:00,PENDING,Henderson,Kentucky,Estados Unidos,42420.0,2016-04-04 20:22:00,Standard Class,Advance shipping,0,3,4,159.680000,525.709991,159.680000,2110
1,31298,2016-04-01 20:43:00,PROCESSING,Henderson,Kentucky,Estados Unidos,42420.0,2016-04-05 20:43:00,Second Class,Late delivery,1,4,2,4.250000,169.990005,4.250000,7597
2,31299,2016-04-01 21:05:00,PROCESSING,Los Angeles,California,Estados Unidos,90036.0,2016-04-06 21:05:00,Standard Class,Late delivery,1,5,4,223.530003,714.250008,223.530003,6109
3,31300,2016-04-01 21:26:00,CLOSED,Fort Lauderdale,Florida,Estados Unidos,33311.0,2016-04-07 21:26:00,Standard Class,Late delivery,1,6,4,37.810000,868.950008,37.810000,801
4,31301,2016-04-01 21:47:00,CLOSED,Fort Lauderdale,Florida,Estados Unidos,33311.0,2016-04-03 21:47:00,Standard Class,Advance shipping,0,2,4,261.100002,689.909988,261.100002,9350

In [31]:
# Replacing the old Orders csv with the new Orders csv
Orders_clean.to_csv('/Users/rohityadav/Desktop/Assignments/Sem 3/Database Design and Prototyping/Project/Dataset/csv Files/Orders_SA.csv', index = False)

In [32]:
# Checking if CSVs actually satisfy the NOT NULLs

print("Products NOT NULL check:")
print(Products[['productID',
                'product_name',
                'product_price',
                'product_status',
                'categoryID']].isna().sum())

print("Customers NOT NULL check:")
print(Customers[['customerID',
                 'customer_fname',
                 'customer_email',
                 'customer_country',
                 'customer_zip']].isna().sum())

print("Orders NOT NULL check:")
print(Orders[['orderID',
              'order_date',
              'order_status',
              'order_country',
              'order_zip',
              'shipping_date',
              'shipping_mode',
              'delivery_status',
              'late_delivery_risk',
              'shipping_days_real',
              'shipping_days_scheduled',
              'benefit_per_order',
              'sales_per_customer',
              'order_profit_per_order',
              'customerID']].isna().sum())

print("Order_items NOT NULL check:")
print(Order_Items[['orderItemID',
                  'order_item_cardprod_id',
                  'item_quantity',
                  'item_product_price',
                  'order_item_total',
                  'sales',
                  'orderID',
                  'productID',
                  'product_card_id',
                  'product_category_id']].isna().sum())

print("Departments NOT NULL check:")
print(Departments[['departmentID',
                   'department_name']].isna().sum())

print("Categories NOT NULL check")
print(Categories[['categoryID', 
                  'category_name', 
                  'departmentID']].isna().sum())

Products NOT NULL check:
productID         0
product_name      0
product_price     0
product_status    0
categoryID        0
dtype: int64
Customers NOT NULL check:
customerID          0
customer_fname      0
customer_email      0
customer_country    0
customer_zip        0
dtype: int64
Orders NOT NULL check:
orderID                    0
order_date                 0
order_status               0
order_country              0
order_zip                  0
shipping_date              0
shipping_mode              0
delivery_status            0
late_delivery_risk         0
shipping_days_real         0
shipping_days_scheduled    0
benefit_per_order          0
sales_per_customer         0
order_profit_per_order     0
customerID                 0
dtype: int64
Order_items NOT NULL check:
orderItemID               0
order_item_cardprod_id    0
item_quantity             0
item_product_price        0
order_item_total          0
sales                     0
orderID                   0
productID                 0
product_card_id           0
product_category_id       0
dtype: int64
Departments NOT NULL check:
departmentID       0
department_name    0
dtype: int64
Categories NOT NULL check
categoryID       0
category_name    0
departmentID     0
dtype: int64

In [33]:
# Rebuilding the Orders df for better results

import numpy as np
import pandas as pd

# Columns we care about (same as before)
ord_cols = [
    'Order Id',
    'order date (DateOrders)',
    'Order Status',
    'Order City',
    'Order State',
    'Order Country',
    'Order Zipcode',
    'shipping date (DateOrders)',
    'Shipping Mode',
    'Delivery Status',
    'Late_delivery_risk',
    'Days for shipping (real)',
    'Days for shipment (scheduled)',
    'Benefit per order',
    'Sales per customer',
    'Order Profit Per Order',
    'Customer Id'
]

Orders_raw = data[ord_cols].copy()

# 1. Minimal hard requirement: must have an Order Id and Customer Id
Orders_raw = Orders_raw.dropna(subset=['Order Id', 'Customer Id'])

# 2. Handle missing dates:
#    - Require order date (if it's missing, drop that row â€“ usually very few)
Orders_raw = Orders_raw.dropna(subset=['order date (DateOrders)'])

#    - For missing shipping date, fallback to order date (so NOT NULL is safe)
Orders_raw['shipping date (DateOrders)'] = Orders_raw['shipping date (DateOrders)'] \
    .fillna(Orders_raw['order date (DateOrders)'])

# 3. Fill string columns with "Unknown" instead of dropping
for col in ['Order Status', 'Order City', 'Order State',
            'Order Country', 'Order Zipcode',
            'Shipping Mode', 'Delivery Status']:
    Orders_raw[col] = Orders_raw[col].fillna('Unknown')

# 4. Fill numeric columns with 0 where missing
for col in ['Late_delivery_risk',
            'Days for shipping (real)',
            'Days for shipment (scheduled)',
            'Benefit per order',
            'Sales per customer',
            'Order Profit Per Order']:
    Orders_raw[col] = Orders_raw[col].fillna(0)

# 5. Cast to proper dtypes
Orders_raw['Order Id'] = Orders_raw['Order Id'].astype(int)
Orders_raw['Customer Id'] = Orders_raw['Customer Id'].astype(int)
Orders_raw['order date (DateOrders)'] = pd.to_datetime(Orders_raw['order date (DateOrders)'])
Orders_raw['shipping date (DateOrders)'] = pd.to_datetime(Orders_raw['shipping date (DateOrders)'])

# 6. One row per orderID:
#    If multiple rows exist (one per line item), keep the earliest record per order
Orders_for_db = (
    Orders_raw
    .sort_values('order date (DateOrders)')
    .drop_duplicates(subset=['Order Id'], keep='first')
    .copy()
)

print("Distinct orderIDs in Orders_for_db:", Orders_for_db['Order Id'].nunique())
print("Rows in Orders_for_db:", len(Orders_for_db))

# 7. Rename to match your physical model
Orders_for_db = Orders_for_db.rename(columns={
    'Order Id': 'orderID',
    'order date (DateOrders)': 'order_date',
    'Order Status': 'order_status',
    'Order City': 'order_city',
    'Order State': 'order_state',
    'Order Country': 'order_country',
    'Order Zipcode': 'order_zip',
    'shipping date (DateOrders)': 'shipping_date',
    'Shipping Mode': 'shipping_mode',
    'Delivery Status': 'delivery_status',
    'Late_delivery_risk': 'late_delivery_risk',
    'Days for shipping (real)': 'shipping_days_real',
    'Days for shipment (scheduled)': 'shipping_days_scheduled',
    'Benefit per order': 'benefit_per_order',
    'Sales per customer': 'sales_per_customer',
    'Order Profit Per Order': 'order_profit_per_order',
    'Customer Id': 'customerID'
})

# 8. Export this version for MySQL
Orders_for_db.to_csv('/Users/rohityadav/Desktop/Assignments/Sem 3/Database Design and Prototyping/Project/Dataset/csv Files/Orders.csv', index=False)

Distinct orderIDs in Orders_for_db: 65752
Rows in Orders_for_db: 65752

In [34]:
# Checking the alignment with the new orders csv

Orders_ids_new = set(Orders_for_db['orderID'])
missing_order_mask_new = ~Order_Items['orderID'].isin(Orders_ids_new)
print("Order_items with missing parent orderID (NEW):", missing_order_mask_new.sum())

Order_items with missing parent orderID (NEW): 0

In [36]:
# Final row and column count

print("Departments:")
print(Departments.shape)

print("Categories:")
print(Categories.shape)

print("Products:")
print(Products.shape)

print("Customers:")
print(Customers.shape)

print("Orders:")
print(Orders_for_db.shape)

print("Order_items:")
print(Order_Items.shape)

Departments:
(11, 2)
Categories:
(51, 3)
Products:
(118, 6)
Customers:
(20649, 10)
Orders:
(65752, 17)
Order_items:
(180519, 13)