In [4]:
# Import the already created CSV

import pandas as pd

Customers   = pd.read_csv("/Users/rohityadav/Desktop/Assignments/Sem 3/Database Design and Prototyping/Project/Dataset/csv Files/Customers.csv")
Orders      = pd.read_csv("/Users/rohityadav/Desktop/Assignments/Sem 3/Database Design and Prototyping/Project/Dataset/csv Files/Orders.csv")         
Order_Items = pd.read_csv("/Users/rohityadav/Desktop/Assignments/Sem 3/Database Design and Prototyping/Project/Dataset/csv Files/Order_Items.csv")
Products    = pd.read_csv("/Users/rohityadav/Desktop/Assignments/Sem 3/Database Design and Prototyping/Project/Dataset/csv Files/Products.csv")
Departments = pd.read_csv("/Users/rohityadav/Desktop/Assignments/Sem 3/Database Design and Prototyping/Project/Dataset/csv Files/Departments.csv")
Categories  = pd.read_csv("/Users/rohityadav/Desktop/Assignments/Sem 3/Database Design and Prototyping/Project/Dataset/csv Files/Categories.csv")

In [5]:
# Checking Orders and Customers consistency

Orders['customerID'] = Orders['customerID'].astype(int)
Customers['customerID'] = Customers['customerID'].astype(int)

missing_cust_mask = ~Orders['customerID'].isin(Customers['customerID'])
print("Orders with missing parent customerID:", missing_cust_mask.sum())

Orders[missing_cust_mask].head()

Orders with missing parent customerID: 0

Empty DataFrame
Columns: [orderID, order_date, order_status, order_city, order_state, order_country, order_zip, shipping_date, shipping_mode, delivery_status, late_delivery_risk, shipping_days_real, shipping_days_scheduled, benefit_per_order, sales_per_customer, order_profit_per_order, customerID]
Index: []

In [6]:
# Checking Order_items and Products consistency

Order_Items['orderID'] = Order_Items['orderID'].astype(int)
Order_Items['productID'] = Order_Items['productID'].astype(int)

Orders_ids   = set(Orders['orderID'])
Products_ids = set(Products['productID'])

missing_order_mask   = ~Order_Items['orderID'].isin(Orders_ids)
missing_product_mask = ~Order_Items['productID'].isin(Products_ids)

print("Order_items with missing parent orderID:",   missing_order_mask.sum())
print("Order_items with missing parent productID:", missing_product_mask.sum())

Order_Items[missing_order_mask].head()

Order_items with missing parent orderID: 155679
Order_items with missing parent productID: 0

,orderItemID,order_item_cardprod_id,item_quantity,item_product_price,order_item_discount,order_item_discount_rate,order_item_total,sales,order_item_profit_ratio,orderID,product_card_id,product_category_id,productID
0,180517,1360,1,327.75,13.110000,0.04,314.640015,327.75,0.29,77202,1360,73,136073
1,179254,1360,1,327.75,16.389999,0.05,311.359985,327.75,-0.80,75939,1360,73,136073
2,179253,1360,1,327.75,18.030001,0.06,309.720001,327.75,-0.80,75938,1360,73,136073
3,179252,1360,1,327.75,22.940001,0.07,304.809998,327.75,0.08,75937,1360,73,136073
4,179251,1360,1,327.75,29.500000,0.09,298.250000,327.75,0.45,75936,1360,73,136073

In [7]:
print("Rows in Orders DF:", len(Orders))
print("Unique orderID:", Orders['orderID'].nunique())
print("orderID is unique:", Orders['orderID'].is_unique)

Rows in Orders DF: 8270
Unique orderID: 8270
orderID is unique: True